
.login-section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 2em auto;
}

.logo-login {
    width: 40%;
    justify-self: center;
    margin-bottom: 0.2em;
}

.newsify {
margin-bottom: 2em;
font-size: 38px;
}